table {
	font-size: 10pt;
}

td {
	padding-left: 5px;
}

body {
	font-size: 10pt;
	color: #404040;
}

.divMain {
	width: 1000px;
	margin-left: 150px;
}

.pLink {
	margin-left: 150px;
}
.pLink a {
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-right: 10px;
	border-radius: 5px;
	background: red;
	text-decoration: none;
	font-weight: bold;
}
.pLink a:nth-child(1) {
	background: #18BC9C;
}
.pLink a:nth-child(2) {
	background: #FF0000;
}
.pLink a:nth-child(3) {
	background: #364958;
}
.pLink a:nth-child(4) {
	background: #FFD90E;
}
.pLink a:nth-child(5) {
	background: #3385FF;
}
.title {
	border: 1px solid #d0d0d0;
	background: url(/goods/images/bg_btns.png) repeat-x;
	background-position: 0 -132px;
	margin-left: 2px;
	height: 30px;
	width: 99.8%;
}

.price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
	font-size: 10pt;
}

.tt {
	background-color: #efeae5;
	height: 25px;
	font-family: Arial;
	color: #878787;
}